* {
    margin: 5px;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: rgba(138, 206, 194, 0.842);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculando {
    width: 25%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    border-style: dashed;
    border-color: #f00;
    border-radius: 10px;
    font-weight: bold;
}

button {
    margin: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

label {
    margin-top: 25px;
}

.material-lista
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

#resposta {    
    width: 300px;
    resize: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn_gerarPdf {
    background-color: rgba(255, 0, 0, 0.575);
    font-weight: bold;
    color: black;
    font-size: 14px;
}